%nav.top-bar#edit{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        =link_to "Setup #{@mission.name}"
  %section.top-bar-section
    %ul.left
      %li
        %a{"data-reveal-id" => "codename", :href => "#"} Mission Name
      %li
        =link_to "Mission Target"
      %li.has-form
        .row.collapse
          = form_tag(pictures_path(:id => @mission.id), :method => "get", remote:true) do
            .large-7.small-9.columns
              = text_field_tag(:hashtag)
            .large-5.small-3.columns
              = submit_tag("Add More Pictures", class: "button [tiny small large]")
      %li
        =link_to "delete pictures", deletepictures_path(id: @mission.id), remote:true
      %li
        = link_to "delete mission", mission_path(@mission), method: :delete, data: {confirm: "Are you sure you want to delete #{@mission.name}?"}


#editpictures
  -if @pictures
    -@pictures.each do |p|
      =image_tag p.url

#codename.reveal-modal{"data-reveal" => ""}
  = render 'missions/codename'
  %a.close-reveal-modal ×
