%ul.small-block-grid-5#edit
  %li
    %a{"data-reveal-id" => "codename", :href => "#", :class => "button [tiny small]"} Mission Name
  %li
    =link_to "Mission Target", changetarget_path(id: @mission.id), :class => "button [tiny small]", remote:true
  %li.has-form
    .row.collapse
      = form_tag(pictures_path(:id => @mission.id), :method => "get", remote:true) do
        = text_field_tag(:hashtag)
        = submit_tag("Add More Pictures", class: "button postfix")
  -if @pictures
    %li
      =link_to "delete pictures", deletepictures_path(id: @mission.id), :class => "button [tiny small]", remote:true
  %li
    = link_to "delete mission", mission_path(@mission), method: :delete, :class => "button [tiny small]", data: {confirm: "Are you sure you want to delete #{@mission.name}?"}
