= render 'missions/editnavigation'

#editpictures
  -if @pictures
    -@pictures.each do |p|
      -if p.answer?
        %div.ep{style: "background-image: url(#{p.url});"}
          %h3 target: #{@mission.clue}
      -else
        %div.ep{style: "background-image: url(#{p.url});"}

#codename.reveal-modal{"data-reveal" => ""}
  = render 'missions/codename'
  %a.close-reveal-modal ×
