%div.modal
  = form_tag(missions_path(@mission), method: "create", remote:true) do
    = label_tag(:name, "mission code name")
    = text_field_tag(:name)
    = label_tag(:clue, "set mission target to an instagram hashtag, e.g. astonmartin")
    = text_field_tag(:clue)
    = submit_tag("create mission", class: "button expand")
