%ul.inline-list#missioncontrol
  %li
    %p#cn= @mission.name
  %li
    %p#clue I spy with my little eye, something that begins with a
    %p.red= @mission.clue[0].upcase
  %li
    %p#g Guesses:
    %p.red#guesses 5

%div#picdiv
  -if @pictures
    -@pictures.shuffle.each do |p|
      = link_to picture_path(p), method: :post, remote: true do
        =image_tag p.url, :class => "choice", :id => "#{p.id}"

%div
  = audio_tag "wah.wav", :id => "wahwah", :preload => "auto"
  = audio_tag "horn.wav", :id => "horn", :preload => "auto"
  = audio_tag "bass.wav", :id => "bass", :preload => "auto"
