#editoptions
  %h2 setup mission
  = link_to "Go To Game", mission_path(@mission)
  = form_tag(mission_path(@mission), method: "put") do
    = label_tag(:name, "mission code name")
    = text_field_tag(:name)
    = label_tag(:clue, "clue")
    = text_field_tag(:clue)
    = submit_tag("update mission")
  = form_tag("/pictures", :method => "get") do
    = label_tag(:hashtag_input, "add picture by hashtag")
    = text_field_tag(:hashtag)
    = submit_tag("search")
  %br
  = link_to "delete mission", mission_path(@mission), method: :delete
%h3 click picture to delete from mission
%br
-@pictures.each do |p|
  =link_to picture_path(p), method: :delete do
    =image_tag p.url
