!!!
%html{:lang => "en"}
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:charset => "utf-8"}/
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700italic' rel='stylesheet' type='text/css'>
    %title= content_for?(:title) ? yield(:title) : "Little Eye"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    = yield

    %footer
      %p &copy 2014 Will Daly. All Rights Reserved.  |
      =link_to("View Source", "http://www.github.com/willdaly/littleeye")
